.idea/Codeforces_Rating_System_Simulation.iml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/dictionaries/dell.xml